@import "partials/global";
@import "partials/header";
@import "partials/form";
@import "partials/alert";
@import "partials/listitem";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  font-weight: 200;
}

ul {
  list-style: none;
}

h1 {
  font-weight: $font-weight;
}

.wrapper {
  background-color: $inside-background-color;
  width: 50%;
}

p {
  color: $font-color;
  font-size: $secondary-font-size;

}

button {
  border: none;
  background-color: $background-color;
  color: $font-color;
  padding: 12px 20px;
  cursor: pointer;
}
