@import "partials/global";
@import "partials/header";
@import "partials/form";
@import "partials/alert";
@import "partials/listitem";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  font-weight: 200;
}

ul {
  list-style: none;
}

h1 {
  font-weight: $font-weight;
}

.wrapper {
  background-color: $inside-background-color;
  width: 40%;
}

p {
  color: $font-color;
  font-size: $secondary-font-size;
}

button {
  border: none;
  background-color: $background-color;
  color: $font-color;
  padding: 12px 20px;
  cursor: pointer;
}

.js-mouse {
  pointer-events: none;
  position: fixed;
  top: -15px;
  left: -15px;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 102, 0.5);
  border-radius: 50%;
  transform: translate(0, 0) scale(1.1);
  transition: all 0.3s ease-out;
  z-index: 9999;
  opacity: 0;
}

.js-mouse.js-hover {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 191, 0, 0.5);
}
