.form {
  padding: 24px;
  display: flex;

  input {
    width: 100%;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid $border-color;
    font-size: $secondary-font-size;
  }

  input:focus {
    outline: none;
  }

  button:active {
    -ms-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
}
