.form {
  padding: 24px;
  font-size: 20px;
  display: flex;

  input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    margin: 0 10px;
    border: 1px solid rgb(179, 176, 176);
    border-radius: 5px;
  }

  input:focus {
    outline: none;
  }

  button {
    border: none;
    background-color: rgb(246, 170, 182);
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
  }
  button:active {
    -ms-transform: translateY(1px);
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
}
