$background-color: rgb(235, 161, 171);
$inside-background-color: white;
$border-color: rgb(179, 176, 176);
$border-radius: 5px;
$font-color: white;
$primary-font-size: 35px;
$secondary-font-size: 20px;
$font-family: "Avenir", "DIN Alternate", sans-serif;
